@import '@/styles/animation.scss';

.home {
  &__section0 {
    background-color: rgb(5, 7, 14);
    background-image: url('../assets/images/home_A-1_PC-24bf28eb.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    &__content {
      position: relative;
      max-width: 1300px;
      width: calc(100% - 180px);
      height: 100vh;
      max-height: 970px;
      z-index: 1;
      white-space: pre-wrap;
      margin: 0 auto;
      &__text {
        position: absolute;
        left: 0px;
        bottom: 120px;
        z-index: 2;
        &__title {
          color: rgb(230, 232, 235);
          font-size: 5.2rem;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
        }
        &__description {
          color: rgb(189, 193, 199);
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 140%;
        }
        &__button {
          width: 326px;
          padding: 16px;
          margin-top: 56px;
          border-radius: 6px;
          background-color: rgb(55, 55, 204);
          color: rgb(255, 255, 255);
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 140%;
        }
      }
    }
  }
  &__section1,
  &__section2,
  &__section3 {
    position: relative;
    width: 100%;
    height: 250vh;
    background-color: rgb(5, 7, 14);
    &__video__container {
      position: sticky;
      top: 0;
      bottom: 0;
      video {
        display: block;
        min-height: 100vh;
        object-fit: cover;
      }
    }
    &__content {
      position: absolute;
      top: 60%;
      left: 15vw;
      transform: translate(0px, -50%);
      width: auto;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__inner {
        display: flex;
        flex-direction: row;
        &__images {
          margin: 0px;
          width: 48px;
          height: 112px;
          gap: 4px;
          padding: 16px 12px;
          border-radius: 100px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: rgba(0, 0, 0, 0.3);
          display: flex;
          flex-direction: column;
          svg {
            width: 24px;
            height: 24px;
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          margin-left: 24px;
          &__title {
            font-weight: 700;
            font-size: 5.6rem;
            line-height: 140%;
            color: rgb(255, 255, 255);
            margin-bottom: 12px;
          }
          &__description {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 140%;
            color: rgb(255, 255, 255);
            white-space: pre-wrap;
          }
        }
      }
    }
  }
  &__section4 {
    background-color: rgb(5, 7, 14);
    &__content {
      position: relative;
      max-width: 1300px;
      width: calc(100% - 180px);
      white-space: pre-wrap;
      padding: 200px 0px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 14px;
      }
      &__subTitle {
        color: rgb(255, 255, 255);
        font-size: 4.8rem;
        font-weight: 700;
        line-height: normal;
      }
      &__description {
        color: rgb(246, 247, 248);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 140%;
        margin-top: 20px;
      }
      &__box {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        margin-top: 64px;
        padding: 64px 0px;
        text-align: center;
        border-radius: 16px;
        background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.03) 99.94%);
        &__item {
          display: flex;
          flex-direction: column;
          gap: 12px;
          opacity: 0;
          &.item1 {
            animation: 1s ease-in-out 0s 1 normal forwards easeinout; // 지속시간: 1초, 속도변화: 서서히 속도 변화, 시작대기시간: 0초, 반복: 1회, 방향: 정방향, 애니메이션 완료 후 마지막 스타일 유지, 애니메이션 이름: easeinout
          }
          &.item2 {
            animation: 1s ease-in-out 0.5s 1 normal forwards easeinout;
          }
          &.item3 {
            animation: 1s ease-in-out 1s 1 normal forwards easeinout;
          }
          &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            &__number {
              color: rgb(255, 255, 255);
              text-align: center;
              font-size: 8rem;
              font-weight: 800;
              line-height: 120%;
            }
          }
          &__title {
            color: rgb(255, 255, 255);
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 140%;
          }
          &__description {
            color: rgb(189, 193, 199);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }
    }
  }
  &__section5 {
    background-color: rgb(5, 7, 14);
    &__content {
      position: relative;
      max-width: 1300px;
      width: calc(100% - 180px);
      white-space: pre-wrap;
      padding: 200px 0px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 14px;
      }
      &__description {
        color: rgb(255, 255, 255);
        font-size: 4.8rem;
        font-weight: 700;
        line-height: normal;
      }
      &__boxes {
        display: flex;
        flex-direction: row;
        margin-top: 64px;
        gap: 24px;
        &__item {
          display: flex;
          flex-direction: row;
          position: relative;
          max-width: 588px;
          width: 50%;
          height: 609px;
          border-radius: 22px;
          background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.14) 99.94%);
          padding: 58px 64px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(225deg, rgba(255, 255, 255, 0.5) 0%, rgba(81, 30, 198, 0.35) 100%);
            .home__section5__content__boxes__item {
              &__inner__text,
              &__image__chair,
              &__image__bag,
              &__inner__arrow {
                display: none;
              }
              &__inner__text__hover,
              &__image__phone,
              &__video,
              &__image__bag__hover {
                display: block;
              }
            }
          }
          &__inner {
            display: flex;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;
            gap: 8px;
            &__text {
              color: rgb(255, 255, 255);
              font-size: clamp(2.4rem, 2.2vw, 3.6rem);
              font-weight: 600;
              line-height: 140%;
              white-space: pre-wrap;
              z-index: 2;
            }
            &__text__hover {
              display: none;
              color: rgb(255, 255, 255);
              font-size: clamp(2rem, 1.5vw, 3.2rem);
              font-weight: 600;
              line-height: 140%;
              white-space: pre-wrap;
              z-index: 2;
            }
          }
          &__image__chair {
            width: 106%;
            height: auto;
            position: absolute;
            top: 35px;
            right: -32px;
            pointer-events: none;
            object-fit: cover;
          }
          &__image__phone {
            width: 105%;
            height: auto;
            position: absolute;
            top: 34px;
            right: -31px;
            pointer-events: none;
            object-fit: cover;
            display: none;
          }
          &__video {
            position: absolute;
            top: 220px;
            right: 78px;
            pointer-events: none;
            z-index: 1;
            display: none;
          }
          &__image__bag {
            width: 86%;
            height: auto;
            position: absolute;
            top: 165px;
            right: 45px;
            pointer-events: none;
            object-fit: cover;
          }
          &__image__bag__hover {
            width: 100%;
            height: auto;
            position: absolute;
            top: 210px;
            right: -30px;
            pointer-events: none;
            transition: opacity 1s;
            display: none;
            object-fit: cover;
          }
        }
      }
    }
  }
  &__section6 {
    background-color: rgb(5, 7, 14);
    &__inner {
      position: relative;
      width: calc(100% - 180px);
      max-width: 1200px;
      padding: 200px 0px;
      white-space: pre-wrap;
      margin: 0 auto;
      overflow: hidden;
      &__content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &__title {
          font-size: 3rem;
          font-weight: 700;
          line-height: normal;
          background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 14px;
        }
        &__subTitle {
          color: rgb(255, 255, 255);
          font-size: 4.8rem;
          font-weight: 700;
          line-height: normal;
        }
        &__description {
          color: rgb(246, 247, 248);
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 140%;
          margin-top: 20px;
        }
        &__image__phone2 {
          max-width: 722px;
          width: 100%;
          height: auto;
          margin-top: 72px;
        }
        &__image__mobilePhone {
          max-width: 280px;
          margin-top: 85px;
          width: 100%;
          height: auto;
          display: none;
        }
      }
      &__slide {
        position: absolute;
        top: 45%;
        left: 410px;
        width: 1020px;
        :global .slider {
          position: relative;
          display: block;
          box-sizing: border-box;
          user-select: none;
          touch-action: pan-y;
          -webkit-tap-highlight-color: transparent;
          .slick-list {
            border-radius: 20px;
            transform: translateZ(0);
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            .slick-track {
              position: relative;
              top: 0;
              left: 0;
              display: block;
              margin-left: auto;
              margin-right: auto;
              &::before,
              &::after {
                display: table;
                content: '';
              }
              .slick-slide {
                display: block;
                float: left;
                height: 100%;
                min-height: 1px;
                position: relative;
                .slide__item {
                  width: 307px !important;
                  height: 434px !important;
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  cursor: pointer;
                  &.item1 {
                    background-image: url('../assets/images/carousel_thumbnail_1_PC-6a00eedf.png');
                  }
                  &.item2 {
                    background-image: url('../assets/images/carousel_thumbnail_2_PC-774a2af5.png');
                  }
                  &.item3 {
                    background-image: url('../assets/images/carousel_thumbnail_3_PC-471f312e.png');
                  }
                  .content {
                    position: absolute;
                    bottom: 28px;
                    left: 24px;
                    z-index: 1;
                    display: flex;
                    flex-direction: row;
                    -webkit-box-align: center;
                    align-items: center;
                    .title {
                      font-size: 2.4rem;
                      font-weight: 700;
                      line-height: 168%;
                      color: rgb(255, 255, 255);
                      margin-right: 4px;
                    }
                  }
                }
              }
            }
          }
        }
        &__arrow {
          position: absolute;
          top: -72px;
          left: 85px;
          width: auto;
          display: flex;
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          gap: 16px;
          cursor: pointer;
        }
        &__preview {
          position: absolute;
          top: 0px;
          right: 216px;
          width: 160px;
          height: 434px;
          background: linear-gradient(270deg, rgb(12, 16, 25) 0%, rgba(12, 16, 25, 0) 100%);
        }
      }
    }
  }
  &__demo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 260px;
    min-height: 200px;
    height: 16vw;
    background: rgb(55, 55, 204);
    &__content {
      display: flex;
      flex-direction: column;
      &__title {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
      }
      &__button {
        width: fit-content;
        height: auto;
        background: rgb(230, 232, 235);
        border-radius: 6px;
        padding: 16px 56px;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 140%;
        color: rgb(55, 55, 204);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    &__section0 {
      background-image: url('../assets/images/home_A-1_laptop-f5526bf8.png');
      width: auto;
      height: auto;
      &__content {
        max-width: 844px;
        max-height: 870px;
        &__text {
          position: absolute;
          left: 0px;
          bottom: 120px;
          z-index: 2;
          &__title {
            font-size: 4.8rem;
          }
          &__description {
            font-size: 2.4rem;
          }
          &__button {
            max-width: 243px;
            margin-top: 48px;
            font-size: 2rem;
          }
        }
      }
    }
    &__section1,
    &__section2,
    &__section3 {
      &__content {
        &__inner {
          &__images {
            width: 36px;
            height: 80px;
            padding: 12px 10px;
            svg {
              width: 16px;
              height: 16px;
            }
          }
          &__text {
            &__title {
              font-size: 4rem;
              margin-bottom: 8px;
            }
            &__description {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
    &__section4 {
      &__content {
        max-width: 844px;
        padding: 100px 0px;
        &__title {
          font-size: 1.8rem;
          margin-bottom: 8px;
        }
        &__subTitle {
          font-size: 3.2rem;
          font-weight: 600;
        }
        &__description {
          font-size: 1.8rem;
          margin-top: 12px;
        }
        &__box {
          margin-top: 40px;
          padding: 48px 0px;
          &__item {
            gap: 4px;
            &__header {
              gap: 8px;
              &__number {
                font-size: 5.6rem;
              }
              svg {
                width: 40px;
                height: 40px;
              }
            }
            &__title {
              font-size: 1.8rem;
            }
            &__description {
              font-size: 1rem;
            }
          }
        }
      }
    }
    &__section5 {
      &__content {
        padding: 100px 0px 200px;
        &__title {
          font-size: 1.8rem;
          margin-bottom: 8px;
        }
        &__description {
          font-size: 3.2rem;
          font-weight: 600;
        }
        &__boxes {
          margin-top: 40px;
          gap: 28px;
          &__item {
            max-width: 408px;
            height: 420px;
            border-radius: 16px;
            padding: 40px 44px;
            &__inner {
              &__text {
                font-size: 2.4rem;
              }
              &__text__hover {
                font-size: 2rem;
              }
              svg {
                min-width: 40px;
                width: 40px;
                height: 40px;
              }
            }
            &__image__chair {
              width: 107%;
              min-width: 415px;
              top: 17px;
              right: -20px;
            }
            &__image__phone {
              min-width: 415px;
              top: 20px;
              right: -18px;
            }
            &__video {
              min-width: 152px;
              top: 16vw;
              right: 59px;
            }
            &__image__bag {
              width: 85%;
              min-width: 320px;
              top: 115px;
              right: 35px;
            }
            &__image__bag__hover {
              top: 188px;
              right: -12px;
            }
          }
        }
      }
    }
    &__section6 {
      &__inner {
        padding: 100px 0px;
        &__content {
          &__title {
            font-size: 1.8rem;
            margin-bottom: 8px;
          }
          &__subTitle {
            font-size: 3.2rem;
            font-weight: 600;
          }
          &__description {
            font-size: 1.8rem;
            margin-top: 12px;
          }
          &__image__phone2 {
            display: none;
          }
          &__image__mobilePhone {
            display: block;
          }
        }
        &__slide {
          left: 50px;
          width: 903px;
          :global .slider {
            .slick-list {
              .slick-track {
                .slick-slide {
                  .slide__item {
                    border-radius: 20px;
                    width: 285px !important;
                    height: 404px !important;
                  }
                }
              }
            }
          }
          &__arrow {
            left: 48px;
          }
          &__preview {
            right: 107px;
            width: 200px;
            height: 404px;
          }
        }
      }
    }
    &__demo {
      &__content {
        &__title {
          font-size: 2.8rem;
        }
        &__button {
          font-size: 1.8rem;
          padding: 12px 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    &__section0 {
      background-image: url('../assets/images/home_A-1_tablet-00240f72.png');
      &__content {
        max-width: 630px;
        width: calc(100% - 140px);
        max-height: 540px;
        &__text {
          bottom: 90px;
          &__title {
            font-size: 4.4rem;
          }
          &__button {
            max-width: 210px;
            padding: 12px;
            margin-top: 40px;
            font-size: 1.8rem;
          }
        }
      }
    }
    &__section1,
    &__section2,
    &__section3 {
      &__content {
        &__inner {
          &__images {
            margin-top: 5px;
          }
          &__text {
            margin-left: 16px;
            &__title {
              font-size: 3.2rem;
            }
            &__description {
              font-size: 2rem;
            }
          }
        }
      }
    }
    &__section4 {
      &__content {
        max-width: 630px;
        width: calc(100% - 140px);
        &__subTitle {
          font-size: 2.8rem;
        }
        &__description {
          font-size: 1.6rem;
        }
        &__box {
          margin-top: 32px;
          padding: 32px 0px;
          &__item {
            &__header {
              &__number {
                font-size: 4rem;
              }
              svg {
                width: 32px;
                height: 32px;
              }
            }
            &__title {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    &__section5 {
      &__content {
        width: calc(100% - 140px);
        &__description {
          font-size: 2.8rem;
        }
        &__boxes {
          flex-direction: column;
          margin-top: 103px;
          gap: 149px;
          &__item {
            flex-direction: column;
            max-width: 630px;
            width: 100%;
            height: 250px;
            border-radius: 22px;
            padding: 48px 56px;
            &__inner {
              flex-direction: column;
              gap: 28px;
              &__text {
                font-size: clamp(1.6rem, 3.2vw, 2.4rem);
              }
              &__text__hover {
                font-size: clamp(1.6rem, 2.7vw, 2rem);
              }
              svg {
                min-width: 36px;
                width: 36px;
                height: 36px;
              }
            }
            &__image__chair {
              width: 377px;
              min-width: 377px;
              top: -120px;
              right: 5px;
            }
            &__image__phone {
              width: 380px;
              min-width: 380px;
              top: -120px;
              right: 6px;
            }
            &__video {
              width: 157px;
              top: -15px;
              right: 68px;
            }
            &__image__bag {
              width: 326px;
              min-width: 326px;
              top: -52px;
              right: 51px;
            }
            &__image__bag__hover {
              width: 350px;
              top: 10px;
              right: -40px;
            }
          }
        }
      }
    }
    &__section6 {
      &__inner {
        width: calc(100% - 140px);
        &__content {
          &__subTitle {
            font-size: 2.8rem;
          }
          &__description {
            font-size: 1.6rem;
          }
          &__image__mobilePhone {
            display: none;
          }
        }
        &__slide {
          position: relative;
          top: unset;
          left: unset;
          width: 800px;
          margin-top: 75px;
          :global .slider {
            .slick-list {
              .slick-track {
                .slick-slide {
                  .slide__item {
                    width: 252px !important;
                    height: 146px !important;
                    &.item1 {
                      background-image: url('../assets/images/carousel_thumbnail_1_tablet-3d999a05.png');
                    }
                    &.item2 {
                      background-image: url('../assets/images/carousel_thumbnail_2_tablet-862ac944.png');
                    }
                    &.item3 {
                      background-image: url('../assets/images/carousel_thumbnail_3_tablet-c70ea0d9.png');
                    }
                    .content {
                      .title {
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: normal;
                      }
                      svg {
                        width: 20px;
                        height: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
          &__arrow {
            display: none;
          }
        }
      }
    }
    &__demo {
      &__content {
        &__title {
          font-size: 2.4rem;
        }
        &__button {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    &__section0 {
      background-image: url('../assets/images/home_A-1_mob-742b0262.png');
      &__content {
        width: calc(100% - 40px);
        max-height: 420px;
        &__text {
          bottom: 70px;
          &__title {
            font-size: 2.4rem;
            margin-bottom: 10px;
          }
          &__description {
            font-size: 1.6rem;
          }
          &__button {
            max-width: 160px;
            padding: 10px;
            margin-top: 24px;
            border-radius: 4px;
            font-size: 1.4rem;
          }
        }
      }
    }
    &__section1,
    &__section2,
    &__section3 {
      height: 100vh;
      &__content {
        top: 120px;
        left: 5%;
        transform: unset;
        background-color: unset;
        border-radius: unset;
        padding: 0px;
        &__inner {
          &__images {
            width: 26px;
            height: 66px;
            padding: 8px 6px;
            svg {
              width: 14px;
              height: 14px;
            }
          }
          &__text {
            margin-left: 12px;
            &__title {
              margin-bottom: 4px;
              font-size: 2.4rem;
            }
            &__description {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    &__section4 {
      &__content {
        width: calc(100% - 40px);
        padding: 48px 0px;
        &__title {
          font-size: 1.4rem;
        }
        &__subTitle {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.2rem;
          margin-top: 10px;
        }
        &__box {
          width: fit-content;
          flex-direction: column;
          align-items: center;
          height: 100%;
          margin: 24px auto auto;
          padding: 32px 24px;
          gap: 32px;
          &__item {
            gap: 2px;
            &__header {
              &__number {
                font-size: 3.2rem;
              }
              svg {
                width: 24px;
                height: 24px;
              }
            }
            &__title {
              font-size: 1.4rem;
            }
            &__description {
              font-size: 0.8rem;
            }
            &.creation_cost_reduction {
              display: none;
            }
          }
        }
      }
    }
    &__section5 {
      &__content {
        width: calc(100% - 40px);
        padding: 48px 0px 118px;
        &__title {
          font-size: 1.4rem;
        }
        &__description {
          font-size: 2rem;
        }
        &__boxes {
          margin-top: 24px;
          gap: 110px;
          &__item {
            max-width: 560px;
            padding: 28px;
            &:hover {
              background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.14) 99.94%);
              .home__section5__content__boxes__item {
                &__inner__text,
                &__image__chair,
                &__image__bag,
                &__inner__arrow {
                  display: block;
                }
                &__inner__text__hover,
                &__image__phone,
                &__video,
                &__image__bag__hover {
                  display: none;
                }
              }
            }
            &__inner {
              flex-direction: column;
              gap: 28px;
              &__text {
                font-size: 1.6rem;
              }
            }
            &__image__chair {
              width: 53%;
              min-width: 295px;
              top: -12px;
              right: -14px;
            }
            &__image__bag {
              width: 43%;
              min-width: 240px;
              top: 22px;
              right: 18px;
            }
          }
        }
      }
    }
    &__section6 {
      &__inner {
        width: calc(100% - 40px);
        padding: 48px 0px;
        &__content {
          &__title {
            font-size: 1.4rem;
          }
          &__subTitle {
            font-size: 2rem;
          }
          &__description {
            font-size: 1.2rem;
            margin-top: 10px;
          }
        }
        &__slide {
          width: 700px;
          margin-top: 29px;
          :global .slider {
            .slick-list {
              .slick-track {
                .slick-slide {
                  .slide__item {
                    width: 220px !important;
                    height: 128px !important;
                    &.item1 {
                      background-image: url('../assets/images/carousel_thumbnail_1_mob-77f1fcc7.png');
                    }
                    &.item2 {
                      background-image: url('../assets/images/carousel_thumbnail_2_mob-3a026f65.png');
                    }
                    &.item3 {
                      background-image: url('../assets/images/carousel_thumbnail_3_mob-28ebdb88.png');
                    }
                    .content {
                      .title {
                        font-size: 1.4rem;
                        font-weight: 700;
                      }
                      svg {
                        width: 18px;
                        height: 18px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__demo {
      &__content {
        &__title {
          font-size: 1.8rem;
        }
        &__button {
          border-radius: 4px;
          padding: 10px 24px;
          font-size: 1.4rem;
        }
      }
    }
  }
}
